* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border: #999 solid 1px;
    border-top: 0;
}

header ul {
    position: fixed;
    display: flex;
    padding: 0px 70px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-bottom: 20px; */
    height: 80px;
    /* background: white;
    box-shadow: 0px 6px 16px 1px rgba(0, 0, 0, 0.49); */
}

.part-1 {
    width: 300px;
    margin-top: 30px;
    margin-right: 80px;
}

li,
li a {
    text-decoration: none;
    list-style: none;
}

li:nth-child(4) {
    margin: 0 40px;
}

.btn {
    padding: 10px 15px;
    color: blue;
    background: rgba(55, 130, 243, 0.623);
    font-weight: 600;
    cursor: pointer;
}

li:nth-child(6) {
    margin: 0 50px;
}

.text_a {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.profile {
    border-radius: 50%;
}

.header_logo {
    width: 200px;
    height: auto;
}

.header_input {
    width: 350px;
    height: 35px;
    margin-left: 70px;
    margin-right: 50px;
    padding-left: 5px;
    outline: none;
    /* padding: 10px 40px; */
}

.main_container {
    display: flex;
    padding: 80px;
}

.main-img {
    width: 300px;
    margin: 0 60px 30px 0;
}

p:nth-child(2) {
    color: #999;
}

p {
    color: #777;
}

hr {
    margin-bottom: 30px;
}

p#p2 {
    margin: 10px 0 20px 0;
}

button {
    margin-left: 20px;
    padding: 7px 10px;
    outline: none;
    border: none;
    color: blue;
    background: rgba(55, 130, 243, 0.623);
    font-weight: 600;
    cursor: pointer;
}

p#p3 {
    margin: 10px 0 20px 0;
}

.part-2 {
    margin-top: 20px;
}

.part-2 h1 span {
    vertical-align: middle;
    font-size: 13px;
    color: #999;
}

.part-2 h1 span i {
    vertical-align: middle;
    font-size: 15px;
    color: #666;
}

h6 {
    font-size: 18px;
    color: blue;
    margin-bottom: 30px;
}

#star {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#star h1 {
    margin-right: 10px;
}

#star i {
    color: blue;
    font-size: 20px;
}

#star i:last-child {
    color: rgb(158, 158, 158);
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.message .btn {
    margin: 0 30px 0 30px;
}

.timeline {
    display: flex;
    margin-bottom: 10px;
}

.timeline .time {
    color: #999;
    margin-right: 20px;
}

.upper {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #999;
}

.upper {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #999;
}

.bluee {
    color: blue;
}

.margin {
    margin-left: 50px;
    color: #999;
}

#margin10 {
    margin-left: 60px;
}

.mb {
    margin-bottom: 30px;
}

.color {
    color: #000;
}

.bluee {
    color: blue;
}


/* part 3 */

#part-3 {
    width: 400px;
    margin-top: 20px;
}

#part-3 div {
    color: #999;
    float: right;
}

.btn11 {
    background-color: cornflowerblue;
    padding: 8px 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.btn11:hover {
    /* background-color: rgba(156, 187, 245, 0.897); */
    opacity: 0.7;
    transition: all 0.5s;
}

.modal {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 1px 24px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    width: 400px;
    position: fixed;
    top: 20px;
    z-index: 1;
    margin-left: 30%;
    display: block;
    margin-right: 30%;
}

form input {
    width: 100%;
    padding: 8px 12px;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgb(224, 210, 210);
    border-radius: 15px;
}

form p select {
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgb(224, 210, 210);
    border-radius: 15px;
}

.close {
    position: absolute;
    margin-left: 300px;
    margin-top: -25px;
}

.close i {
    font-size: 1.8em;
    cursor: pointer;
}

.tag {
    margin: 5px 10px;
    padding: 2px;
    background-color: #F7C31D;
    border-radius: 5px;
}